<!DOCTYPE html>
<div class="container">
    <div class="row box-cadastro">
        <div class="col-12">
            <h3 class="text-center">Quer falar com a gente? &#9993;</h3>
            <form>
                <div class="form-group">
                    <label for="nome" class="form-label">Nome: *</label>
                    <input type="text" class="form-control" placeholder="Digite seu Nome" formControlName="nome">
                </div>

                <div class="form-group">
                    <label for="assunto" class="form-label">Assunto: *</label>
                    <input type="text" class="form-control" placeholder="Assunto da mensagem" formControlName="assunto">

                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email: *</label>
                    <input type="email" class="form-control" placeholder="exemplo@dominio.com.br" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="floatingTextarea2">Mensagem: *</label>
                    <textarea class="form-control" placeholder="Deixe a sua mensagem" id="floatingTextarea2" style="height: 100px"></textarea>
                </div>
                <sub>* Campos obrigatórios</sub>
                <br><br>
                <div class="row">
                    <button type="submit" class="btn btn-success" id="enviar">Enviar</button>
                    <button type="button" class="btn btn-light" id="limpar">Limpar</button>

                </div>
            </form>
        </div>
    </div>
</div>
