  <ul class="nav head">
    <li class="nav-item">
      <a routerLink="/" href="#">
        <img src="./assets/imagens/unknown1.png" alt="" class="logo">
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/login" class="nav-link" href="#">Login</a>
    </li>
    <li class="nav-item">
      <a routerLink="/bank-accounts" class="nav-link" href="#">Planos</a>
    </li>
    <li class="nav-item">
      <a routerLink="/about" class="nav-link" href="#">Sobre nós</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link" href="#">Contato</a>
    </li>
    <!-- <li class="nav-item">
      <a routerLink="/help" class="nav-link" href="#">Ajuda</a>
    </li> -->
  </ul>