

.logo{
    max-width: 38px;
}

.head {
    background-color: #2d3436;
}

.nav-item{
    text-decoration: none;
}

a {
    color: #EFEFEF;
}

.fade-nav-item{
    opacity: 0.5;
    font-size: medium;
}

.fade-nav-item:hover{
    opacity: 1;
}