.logo{
    max-width: 40px;
}

.head {
    background-color: #2d3436;
}

.nav-item{
    text-decoration: none;
}

a {
    color: #EFEFEF;
    font-size: medium;
}

.nav-item-fade
{
    opacity: 0.5;
}

.nav-item-fade:hover
{
    opacity: 1;
}