  <ul class="nav head">
    <li class="nav-item">
      <a routerLink="/" href="#">
        <img src="./assets/imagens/logo.png" alt="" class="logo">
      </a>
    </li>
    <li class="fade-nav-item">
      <a routerLink="/login" class="nav-link" href="#">LOGIN</a>
    </li>
    <li class="fade-nav-item">
      <a routerLink="/bank-accounts" class="nav-link" href="#">PLANOS</a>
    </li>
    <li class="fade-nav-item">
      <a routerLink="/about" class="nav-link" href="#">SOBRE NÓS</a>
    </li>
    <li class="fade-nav-item">
      <a routerLink="/contact" class="nav-link" href="#">CONTATO</a>
    </li>
    <!-- <li class="nav-item">
      <a routerLink="/help" class="nav-link" href="#">Ajuda</a>
    </li> -->
  </ul>