<div class="container">
    <div class="row box-cadastro">
        <div class="col-12">
            <h3 class="text-center">Quer falar com nóis?</h3>
            <form>
                <div class="form-floating">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control cadastro" placeholder="Nome *" formControlName="nome">
                </div>

                <div class="form-floating">
                    <label for="cpf">CPF <sub>(Digite apenas números)**</sub></label>
                    <input type="text" class="form-control cadastro" placeholder="CPF *" formControlName="cpf"
                        aria-describedby="cpfFeedback">

                </div>
                <div class="form-floating">
                    <label for="email">Email</label>
                    <input type="email" class="form-control cadastro" placeholder="E-mail *" formControlName="email"
                        aria-describedby="emailFeedback">
                </div>
                <label for="floatingTextarea2">Comments</label>
                <textarea class="form-control cadastro" placeholder="Deixe a sua mensagem" id="floatingTextarea2" style="height: 100px"></textarea>
                <br>
                <div class="row">
                    <button type="submit" class="btn btn-cadastro btn-success">Cadastrar</button>
                    <button type="button" class="btn btn-cadastro btn-light">Limpar</button>

                </div>
            </form>
        </div>
    </div>
</div>