<div class="container">
    <div class="card" *ngFor="let item of plano">
        <img src={{ plano.cartao }} class="card-img-top" alt="Cartao-do-plano">
        <div class="card-body">
            <ul>
                <h5 class="card-title">{{ plano.titulo }}</h5>
                <li class="card-text">{{ plano.desc[0] }}</li>
                <li class="card-text">{{ plano.desc[1] }}</li>
                <li class="card-text">{{ plano.desc[2] }}</li>
                <li class="card-text">{{ plano.desc[3] }}</li>
            </ul>
            <button class="btn" (click)="irRegistrar(plano)"> Tenho interesse !</button>
        </div>
    </div>

</div>