@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.main {
    font-family: Kanit;
    background-image: url(/assets/imagens/background.jpg);
    background-size: cover;
    color: black;
}

.conteudo {
    padding: 5%;
}

/* .footer {
    align-items: center;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: none;
    background-image: none;
} */