@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.main {
    font-family: Kanit;
    background-image: url(/assets/imagens/background.jpg);
    background-size: cover;
    color: black;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.conteudo {
    padding: 5%;
}


