@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.main {
    font-family: Kanit;
    background-image: url(/assets/imagens/background.jpg);
    background-size: cover;
    color: black;
}

.conteudo {
<<<<<<< Updated upstream
    padding: 5%;
}

=======
<<<<<<< Updated upstream
    padding: 50px;
}
=======
    padding: 5%;
}


>>>>>>> Stashed changes
/* .footer {
    align-items: center;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: none;
    background-image: none;
<<<<<<< Updated upstream
} */
=======
} */
>>>>>>> Stashed changes
>>>>>>> Stashed changes
