@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.main {
    font-family: Kanit;
    background-image: url(/assets/imagens/wp1852029.png);
}

.conteudo {
    padding: 50px;
}