@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

.main {
    font-family: Kanit;
    background-image: url(/assets/wp1852029.png);
    
}

.roteador{
    /* background-image: url(/assets/wp1852029.png); */
}