.wrapper-content {
    width: 100vw;
    height: 90vh;
    z-index: -9999;
    top: -60px;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.ponto{
    list-style-type: none;
}

.card{
    background-color: rgba(178, 190, 195,0.5);
    width: 18rem;
}