<div class="wrapper-content">
    <div class="container">


        <div class="card">
            <img src="./assets/cartao-azul.png" class="card-img-top" alt="...">
            <div class="card-body">
                <ul>
                    <h5 class="card-title">Plano blue</h5>
                    <li class="card-text">Sem taxas mensais</li>
                    <li class="card-text">Credito de até 1500 reais</li>
                    <li class="card-text">Cobertura nacional</li>
                    <li class="card-text">Renda minima não será exigida</li>
                </ul>

                <a href="#" class="btn" id="botaoAzul">Tenho interesse!</a>
            </div>
        </div>

        <div class="card">
            <img src="./assets/cartao-dourado.png" class="card-img-top" alt="...">
            <div class="card-body">
                <ul>
                    <h5 class="card-title">Plano Gold</h5>
                    <li class="card-text">Taxa mensal de 22 reais</li>
                    <li class="card-text">Credito de até 3000 reais</li>
                    <li class="card-text">Cobertura nacional</li>
                    <li class="card-text">Renda minima exigida de 2300 reais</li>
                </ul>

                <a href="#" class="btn btn-warning">Tenho interesse!</a>
            </div>
        </div>

        <div class="card">
            <img src="./assets/cartao-preto.png" class="card-img-top" alt="...">
            <div class="card-body">
                <ul>
                    <h5 class="card-title">Plano black</h5>
                    <li class="card-text">Taxa mensal de 54 reais</li>
                    <li class="card-text">Credito de até 7000 reais</li>
                    <li class="card-text">Cobertura internacional</li>
                    <li class="card-text">Renda minima exigida de 4200 reais</li>
                </ul>

                <a href="#" class="btn btn-dark">Tenho interesse!</a>
            </div>
        </div>
    </div>
</div>