.container {
    bottom: 0;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.lista {
    padding: 30px;
    border-top: 1px solid rgba(99, 110, 114,0.4);
}

.direitos {
    text-align: center;
}

ul {
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 15px;

}

li {
    background-color: rgba(99, 110, 114,0.4);
    color: black;
}

p {
    background-color: rgba(99, 110, 114,0.4);
}