<footer class="foot">
    <div class="listas">
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark">Atendimento</li>
                <li class="list-group-item list-group-item-dark">
                    Central de relacionamento <br>
                    0800 000 123</li>
                <li class="list-group-item list-group-item-dark">
                    SAC <br>
                    0800 010 123</li>
                <li class="list-group-item list-group-item-dark">
                    SAC <br>
                    0800 010 456</li>
                <li class="list-group-item list-group-item-dark">
                    Email <br>
                    fala.jlg@.com.br</li>
            </ul>
        </div>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark">An item</li>
                <li class="list-group-item list-group-item-dark">A second item</li>
                <li class="list-group-item list-group-item-dark">A third item</li>
                <li class="list-group-item list-group-item-dark">A fourth item</li>
                <li class="list-group-item list-group-item-dark">And a fifth one</li>
            </ul>
        </div>
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-dark">An item</li>
                <li class="list-group-item list-group-item-dark">A second item</li>
                <li class="list-group-item list-group-item-dark">A third item</li>
                <li class="list-group-item list-group-item-dark">A fourth item</li>
                <li class="list-group-item list-group-item-dark">And a fifth one</li>
            </ul>
        </div>
    </div>
    <div>
        <p>
           <sup>&copy;</sup> Todos os direitos reservados
        </p>
    </div>
</footer>