<footer class="container col-12">
    <div class="lista">
            <ul class="list-group list-group-flush" id="nums">
                <!-- <li class="list-group-item">
                    Atendimento <br>
                    Número:
                </li> -->
                <li class="list-group-item">
                    Central de relacionamento <br>
                    0800 000 123</li>
                <li class="list-group-item">
                    SAC <br>
                    0800 010 123</li>
                <li class="list-group-item">
                    Ouvidoria <br>
                    0800 010 456</li>
                <li class="list-group-item">
                    Email <br>
                    fala.jlg@.com.br</li>
            </ul>
    </div>
    <div class="direitos">
        <p class="rounded-pill">
           <sup>&copy;</sup> Todos os direitos reservados
        </p>
    </div>
</footer>