<div class="container">
    <div class="row box-cadastro">
        <div class="col-12">
            <form>
                <div class="row">

                    <div class="form-group col-6">
                        <label for="nome" class="form-label">Nome: *</label>
                        <input type="text" class="form-control" placeholder="Digite seu Nome" name="nome" [(ngModel)]="usuario.nome" required>
                    </div>

                    <div class="form-group col-6">
                        <label for="CPF" class="form-label">CPF: *</label>
                        <input type="text" class="form-control" placeholder="Informe seu CPF" name="cpf" [(ngModel)]="usuario.cpf" required>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-8">
                        <label for="email" class="form-label">Email: *</label>
                        <input type="email" class="form-control" placeholder="exemplo@dominio.com.br" name="email"  [(ngModel)]="usuario.email" required>
                    </div>

                    <div class="form-group col-4">
                        <label class="form-group-text" for="inputRendaSelect">Renda: *</label> <br>
                        <select class="form-select" id="inputRendaSelect" name="renda"  [(ngModel)]="usuario.renda">
                            <option selected>Defina sua renda...</option>
                            <option value="menos de 3k">Abaixo de R$3.000,00</option>
                            <option value="igual a 3k">Acima ou igual a R$3.000,00</option>
                            <option value="mais de 4,20k">Acima ou igual a R$4.200,00</option>
                        </select>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="form-group col-12">
                        <label class="form-group-text" for="inputGroupFile">Envio de comprovante de renda: <span>(Apenas  planos Gold & Black)</span></label> <br>
                        <input type="file" class="form-control" id="inputGroupFile">
                    </div>
                </div> -->
                <div class="row">
                    <div class="form-group col-6">
                        <label for="password" class="form-label">Senha: *</label>
                        <input type="password" class="form-control" name="senha" [(ngModel)]="usuario.senha" required>
                    </div>
                    <div class="form-group col-6">
                        <label for="password" class="form-label">Confirme sua senha: *</label>
                        <input type="password" class="form-control" name="confirmSenha" [(ngModel)]="confirmSenha" required>
                    </div>
                </div>
                <sub>* Campos obrigatórios</sub>
                <br><br>
                <div class="row">
                    <button type="submit" class="btn btn-success" id="enviar" (click)="registrarUsuario(usuario)">Enviar</button>
                    <button type="button" class="btn btn-light" id="limpar">Limpar</button>

                </div>
            </form>
        </div>
    </div>
</div>