<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">Congratulações!</div>
        <div class="card-body">
          <h5 class="card-title">Bem vindo, {{ nome }} !</h5>
          <p class="card-text">O plano aprovado para a sua renda é: {{ NomePlano }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Fique atento ao seu e-mail. A confirmação pode chegar a qualquer momento!</li>
          </ul>
        </div>
      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
 <span></span>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <!-- <img src="./../../../assets/gif/filhotes-fofos-5.gif" alt="" /> -->
        <img src="./../../../assets/gif/CloseDirectJaeger-max-1mb.gif" alt="" />
      </div>
</div>