.container{
    padding: 0 px;
    display: flex;
    flex-direction: row;
}

.panel-body{
    padding: 0px 10px 0px; 
    justify-content: end;
    align-items: flex-end;

}

p {
    background-color: rgba(161, 161, 161, 0.1);
    padding: 5px;
    font-weight: bold;
    text-align: justify;
    font-size: 20px;
}

p:hover {
    text-shadow: -0.5px 0.5px 1px rgba(255, 255, 255, 0.7);
}

#mascote {
    position: relative;
    top: 27.3%;
}

.title {
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}