.box-cadastro {
    margin: 30px;
    padding: 30px;
    background-color: rgba(161, 161, 161, 0.3);
    align-items: center;
    justify-content: center;
    height: 58.95vh;
}

.cadastro {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 0;
    outline: none;
    height: 50px;
}

.btn-cadastro {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    /* font-weight: bold; */
}

label{
    padding: 10px 5px 0px;
}
