<div class="container">
    <div class="row box-cadastro">
        <div class="col-10">
            <h3 class="text-center">Faça o seu login</h3>
            <form>
                <div class="form-floating">
                    <label for="user">Digite seu <strong>e-mail</strong> ou <strong>nome de usuário</strong></label>
                    <input type="user" class="form-control cadastro" placeholder="user@exemplo.com" formControlName="user">
                </div>
                <div class="form-floating">
                    <label for="senha">Digite a sua senha </label>
                    <input type="password" class="form-control cadastro" formControlName="senha" placeholder="********">
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-cadastro btn-success">Login</button>
                  </div>
            </form>
        </div>
    </div>
</div>