.box-cadastro {
    background-color: rgba(99, 110, 114, 0.4);
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
}

#login {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

label {
    padding: 10px 5px 0px;
}

p, #registrar {
    margin: 0;
    font-size: medium;
}

a {
    text-decoration: none;
}