table {
  background-color: rgb(128, 128, 128, 0.5);
  color: #e2e2e2;
  font-size: larger;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0px 10px;
}

.table{
  margin: 25px 0px; 
  
}

button {
  margin-right: 25px;
}