<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">CPF</th>
      <th scope="col">E-mail</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody *ngFor="let pessoa of usuario">
    <tr>
      <td> {{ pessoa.codigo }} </td>
      <td> {{ pessoa.nome }}</td>
      <td> {{ pessoa.cpf }}</td>
      <td> {{ pessoa.email }}</td>
      <td>
        <button type="button" class="btn btn-success btn-sm"
        (click)="pageEditar(pessoa.codigo)">Editar</button>
        <button type="button" class="btn btn-danger btn-sm"
        (click)="pageExcluir(pessoa.codigo)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>