<div class="container panel panel-default">
    <div class="panel-body col-md-6">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Somos um banco completo e gratuito que surgiu em um trabalho dos alunos da universidade positivo com a
            missão de transformar a relação das pessoas com o dinheiro.

            Viemos complementar com solução especial para a geração hiperconectada.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Oferecemos uma plataforma simples e intuitiva para que nossos clientes possam organizar suas vidas
            financeiras de modo a conquistarem seus objetivos.
        </p>
        
    </div>
    <div class="col-md-6 cao">
        <img id="mascote"
            src="https://static.wixstatic.com/media/724310_097607ea8ae34fa290b7e59af523a876~mv2.png/v1/fill/w_460,h_362,al_c,q_85,usm_0.66_1.00_0.01/cachorrinho.webp"
            alt="mascote">
    </div>
</div>
