<div class="container panel panel-default">
    <div class="panel-body">
        Somos um banco completo e gratuito que surgiu em um trabalho dos alunos da universsidade positivo com a missão de transformar a relação das pessoas com o dinheiro.
        Viemos complementar com solução especial para a geração hiperconectada.
        Oferecemos uma plataforma simples e intuitiva para que nossos clientes possam organizar suas vidas financeiras de modo a conquistarem seus objetivos.
    </div>
  </div>